@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway-ExtraBold" !important;
    color: #5d657b;
    overflow-x: hidden;
    background: #f1f5f9;
    font-variant-numeric: lining-nums;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a:hover {
    color: #4a6cf7;
}

button,
a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.para-width-500 {
    max-width: 500px;
    width: 100%;
}

@media (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
}

/* =========== Sidebar css =========== */
.sidebar-nav-wrapper {
    background: #fff;
    padding-top: 106px;
    width: 130px;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(200, 208, 216, 0.3);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
@media only screen and (min-width: 992px) and (max-width: 1280px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .sidebar-nav-wrapper {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        -o-transform: translateX(-140px);
        transform: translateX(-140px);
    }
}
.sidebar-nav-wrapper.active {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    -o-transform: translateX(-140px);
    transform: translateX(-140px);
}
@media only screen and (min-width: 992px) and (max-width: 1280px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .sidebar-nav-wrapper.active {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item {
    width: 100%;
    position: relative;
    margin-bottom: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5d657b;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    position: relative;
    z-index: 1;
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10;
    height: 51px;
    width: 4px;
    background: #1a71f3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sidebar-nav-wrapper .sidebar-nav ul .nav-item a span.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a .icon {
    width: 26px;
    height: 26px;
    color: #9f9f9f;
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a .icon.active {
    width: 38px;
    height: 38px;
    color: #0f1b29;
}
.sidebar-nav-wrapper .sidebar-nav ul .nav-item a .icon svg {
    fill: currentColor;
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a::before,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a::before {
    opacity: 1;
    visibility: visible;
}

/* ========== main-wrapper css ========== */
.main-wrapper {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-left: 130px;
    min-height: 100vh;
    padding-bottom: 85px;
    position: relative;
    background: #fbfbfb;
}

@media only screen and (min-width: 992px) and (max-width: 1280px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .main-wrapper {
        margin-left: 0;
    }
}
/* ========== header css ========== */
.header {
    padding-top: 40px;
    padding-left: 75px;
}

.header .title {
    font-weight: 800;
    font-size: 36px;
    color: #0f1b29;
}

/* ========== content css ========== */
.content {
    padding: 24px 75px;
}

@media (max-width: 1199px) {
    .content {
        padding: 24px 30px !important;
    }
}
/* ========== content header card css ========== */
.content .headercard {
    position: relative;
    width: 100%;
    height: 195px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 27px;
    margin-right: 27px;
    padding-left: 23px;
    min-width: 270px;
    z-index: 0;
    overflow: hidden;
}

.content .headercard .icon {
    margin-top: 25px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff40;
}
.content .headercard .icon img {
    width: 20px;
    height: 20px;
}

.content .headercard .title {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.content .headercard .count {
    font-family: "Raleway-Bold", sans-serif;
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 47px;
    color: white;
}

.content .headercard .arrow {
    width: 24px;
    height: 24px;
    background-color: #ffffff40;
    color: red;
}

.content .headercard .percent {
    font-family: "Raleway-Bold", sans-serif;
    margin-left: 6px;
    font-size: 14px;
    color: white;
}

.content .headercard .gr-blue,
.content .headercard .gr-green,
.content .headercard .gr-yellow,
.content .headercard .gr-red {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 195px;
    border-radius: 8px;
    background: linear-gradient(
        180deg,
        rgba(17, 138, 178, 0) 0%,
        #097092 95.64%
    );
}

.content .headercard .gr-green {
    background: linear-gradient(
        180deg,
        rgba(5, 164, 123, 0) 0%,
        #05a47b 95.64%
    );
}

.content .headercard .gr-yellow {
    background: linear-gradient(
        180deg,
        rgba(229, 170, 33, 0) 0%,
        #e5aa21 95.64%
    );
}

.content .headercard .gr-red {
    background: linear-gradient(
        180deg,
        rgba(199, 24, 66, 0) 0%,
        #c71842 95.64%
    );
}

.content .headercard .outer_circle {
    width: 354px;
    height: 354px;
    border-radius: 100%;
    z-index: -10;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0) 43.23%,
        #ffffff 100%
    );
    opacity: 0.4;
}

.content .headercard .inner_circle {
    width: 216px;
    height: 216px;
    border-radius: 100%;
    z-index: -10;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0) 43.23%,
        #ffffff 100%
    );
    opacity: 0.4;
}

/* ========== sankey chart css ========== */
.sankey-chart {
    width: 100%;
    height: 264px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.sankey-chart .sankey-left {
    width: 18%;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sankey-chart .sankey-left .node {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0;
}
.sankey-chart .sankey-left div {
    width: 100%;
    min-width: 80px;
}
.sankey-chart .sankey-left .square {
    width: 90%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 13px;
}

.sankey-chart .sankey-left .square span:first-child {
    margin-left: 18px;
}

@media (max-width: 992px) {
    .sankey-chart .sankey-left .square {
        font-size: 10px;
        padding: 0;
    }
    .sankey-chart .sankey-left .square span:first-child {
        margin-left: 5px;
    }
}
.sankey-chart .sankey-left .square span:last-child {
    padding: 4% 3% 4% 3%;
    font-family: "Raleway", sans-serif;
    background-color: #ffffff40;
    font-weight: 600;
    border-radius: 5px;
    color: inherit;
    font-size: 11px;
    margin-right: 8px;
}

.sankey-chart .sankey-left img {
    width: 35%;
    max-width: 62px;
}

.sankey-chart .sankey-right {
    width: 82%;
}

.sankey-chart .sankey-node_wrapper {
    position: relative;
    z-index: 1;
}

.sankey-chart .sankey-node {
    background-color: #cedff9;
}

.sankey-chart .sankey-node_first {
    border-radius: 10px 0 0 10px;
}

.sankey-chart .sankey-node_last {
    border-radius: 0 10px 10px 0;
}

.sankey-chart .sankey-node .label span {
    font-size: 13px;
    color: #1a71f3;
}

.sankey-chart .sankey-node .label p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2px;
    color: #1a71f3;
}
.sankey-chart .sankey-node svg {
    width: 100%;
}
.sankey-chart .sankey-node:last-child .label p {
    margin-top: 0px;
}

.sankey-chart .sankey-node .connect-down {
    position: absolute;
    width: 100%;
    bottom: -34px;
    right: -100%;
    z-index: -1;
    transform: translate(-12px, 0);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.sankey-chart .sankey-node .connect-down_last {
    width: 110%;
    position: absolute;
    bottom: -34px;
    right: -100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transform: translate(0px, 0);
}
.sankey-chart .connect-up {
    z-index: 1;
}

.sankey-chart .sankey-node .exit_node {
    width: 100%;
    height: 36px;
    background-color: #ef476f;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sankey-chart .sankey-node .exit_node span:first-child,
.sankey-chart .sankey-node .exit_node span:nth-child(2) {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: white;
}
.sankey-chart .sankey-node .exit_node span:nth-child(2) {
    font-size: 13px;
}

/* ========== middle part css ========== */

.two_charts_container {
    /* padding: 53px 0 40 0; */
    width: 65%;
    display: flex;
    background: white;
    border-radius: 8px;
    padding: 0;
}

@media (max-width: 1060px) {
    .two_charts_container {
        width: 100% !important;
    }
}
.two_charts_container > div:first-child {
    width: 55% !important;
}
@media (min-width: 1600px) {
    .two_charts_container > div:first-child {
        padding-left: 20px;
        padding-right: 80px;
    }
}

.two_charts_container > div:last-child {
    width: 45% !important;
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 35px;
}
@media (max-width: 768px) {
    .two_charts_container > div:first-child,
    .two_charts_container > div:last-child {
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }
}
/* ========== pie chart css ========== */
#pie-container {
    height: 183px;
}

.highcharts-figure,
.highcharts-data-table table {
    /* min-width: 320px; */
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    min-width: 320px;
    max-width: 1900px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#bar-sales-container {
    margin-top: 20px;
    height: 193px;
    /* margin-left: 50px;
    margin-top: 23px;
    margin-right: 40px; */
}

/* ========== map css ========== */
.map-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px 24px;
    height: 220px;
    width: 31%;
    position: relative;
}

@media (max-width: 1060px) {
    .map-container {
        margin-top: 20px;
        width: 100%;
    }
}

.map-container span {
    color: black;
    font-size: 11px;
}

.map {
    border-radius: 5px;
    width: 100%;
    height: 160px;
    /*
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); Firefox 10+
     filter: gray; 
    -webkit-filter: grayscale(99%);*/
}

.location-tag {
    width: 60px;
    height: 25px;
    background-color: #1a71f3;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Raleway-Medium", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 15px; */
    position: relative;

    /* box-shadow: 0px 0px 30px #1a71f3; */
}

.location-tag::after {
    content: "";
    position: absolute;
    background-color: #1a71f330;
    border-radius: 7px;
    top: -3px;
    left: -3px;
    width: 66px;
    height: 31px;
    z-index: -1;
}

/* ========== line chart css ========== */
.line-wrapper {
    position: relative;
    height: 320px;
    background-color: white;
    margin-top: 36px;
    border-radius: 8px;
}

#line-container {
    padding: 10px 43.5px 17px 24px;
}
.line-pagination {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    margin-right: 20px;
    margin-top: 24px;
}

/* pagination styling */
.line-pagination a {
    font-family: "Raleway", sans-serif;
    color: #b5b5b5;
    padding: 0;
    margin: 10px;
    text-decoration: none;
    font-size: 13px;
    font-variant-numeric: normal;
}

.line-pagination a:hover {
    color: #1a71f3;
}

.line-pagination a:first-child,
.line-pagination a:last-child {
    padding: 0px 4px;
    font-family: "Raleway-ExtraBold", sans-serif;
    color: #e4e4e4;
}
.line-pagination a:first-child:hover,
.line-pagination a:last-child:hover {
    font-family: "Raleway-ExtraBold", sans-serif;
    color: #b5b5b5;
}

/* ========== card style css ========== */
.card-style-1 {
    background: #fff;
    box-sizing: border-box;
    padding: 18px 12px 18px 24px;
    position: relative;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.bar-container {
    position: relative;
    height: 184px;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.bar-pagination {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    margin-top: 10px;
    margin-right: 9%;
}

.bar-pagination a {
    font-family: "Raleway", sans-serif;
    color: #b5b5b5;
    padding: 0;
    margin-left: 1px;
    text-decoration: none;
    font-size: 11px;
    font-variant-numeric: normal;
}

.bar-pagination a:hover,
.bar-pagination a:active {
    color: #1a71f3;
}

.card-style-2 {
    background: #fff;
    box-sizing: border-box;
    padding: 20px 25px;
    position: relative;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.card-style-2 .title {
    font-family: "Raleway-ExtraBold", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 14;
    color: black;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    color: #878787;
}

th,
td {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    width: 33.33%;
}
tr:last-child td {
    border-bottom: none;
}
td.left {
    text-align: left;
    font-family: "Raleway", sans-serif;
}

td.center {
    text-align: center;
    font-family: "Raleway-SemiBold", sans-serif;
    font-feature-settings: "pnum" on, "lnum" on;
    padding-right: 30px;
}

td.right {
    text-align: right;
    font-family: "Raleway-SemiBold", sans-serif;
    color: #1a71f3;
    font-feature-settings: "pnum" on, "lnum" on;
}
